<div class="container">
  <div class="row">
    <h3> <%= t('activerecord.attributes.user.user_list') %></h3>
    <div class="column">
      <table class="table">
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <%= render user %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div style="text-align: center;"><%= paginate @users, :theme => 'twitter-bootstrap-3' %></div>
